@page "{SearchString?}"
@model writeAJoke.Pages.Jokes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create" class="badge badge-pill badge-primary">Create New</a>
</p>
<form>
    <select asp-for="JokeGenre" asp-items="Model.Genres" class="mb-1">
        <option value="">All</option>
    </select>
    <p>
        Title : <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter"/>
    </p>
</form>
<div class="d-flex flex-column align-items-center">
@foreach (var item in Model.Joke) {
        <div class="card mt-2 p-2 d-flex flex-column align-items-center" style="width: fit-content;">
            <div class="card-title">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="crad-body">
                @Html.DisplayFor(modelItem => item.Body)
            <div class="card-link">
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </div>
            </div>
        </div>
}
</div>

